@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pokemon);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
